<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/css.css">
    <link rel="stylesheet" type="text/css" href="assets/css/css1.css">
    <link rel="stylesheet" type="text/css" href="assets/libraries/Font-Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/libraries/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="assets/libraries/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="assets/libraries/nvd3/nv.d3.min.css">
    <link rel="stylesheet" type="text/css" href="assets/libraries/OwlCarousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="assets/css/realsite.css">
    <link rel="stylesheet" type="text/css" href="assets/js/openlayermaps/ol.css">
    <link rel="stylesheet" type="text/css" href="assets/js/openlayermaps/angular-openlayers-directive.css">
    <link rel="stylesheet" type="text/css" href="assets/js/two-sided-discarded/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/js/datatables/media/css/dataTables.bootstrap.css">

    <link rel="stylesheet" type="text/css" href="assets/js/mult-select-plugin/jquery-picklist.css">
    <link rel="stylesheet" type="text/css" href="assets/js/mult-select-plugin/jquery-picklist-ie7.css">
    <link rel="stylesheet" type="text/css" href="assets/js/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.css">

    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/libraries/jquery-transit/jquery.transit.js"></script>
    <script type="text/javascript" src="assets/js/angular/angular.js"></script>
    <script type="text/javascript" src="assets/js/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="assets/js/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="assets/js/angular-sanitize/angular-sanitize.min.js"></script>

    <script type="text/javascript" src="assets/libraries/bootstrap/assets/javascripts/bootstrap/dropdown.js"></script>
    <script type="text/javascript" src="assets/libraries/bootstrap/assets/javascripts/bootstrap/collapse.js"></script>
    <script type="text/javascript" src="assets/libraries/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="assets/libraries/bootstrap-fileinput/js/fileinput.min.js"></script>

    <script type="text/javascript" src="assets/libraries/autosize/jquery.autosize.js"></script>
    <script type="text/javascript" src="assets/libraries/isotope/dist/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/libraries/OwlCarousel/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/libraries/jquery.scrollTo/jquery.scrollTo.min.js"></script>

    <script type="text/javascript" src="assets/libraries/jquery-google-map/infobox.js"></script>
    <script type="text/javascript" src="assets/libraries/jquery-google-map/markerclusterer.js"></script>
    <script type="text/javascript" src="assets/libraries/jquery-google-map/jquery-google-map.js"></script>

    <script type="text/javascript" src="assets/libraries/nvd3/lib/d3.v3.js"></script>
    <script type="text/javascript" src="assets/libraries/nvd3/lib/d3.v3.js"></script>
    <script type="text/javascript" src="assets/libraries/nvd3/nv.d3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/js/treeviw/style.css">
    <script type="text/javascript" src="assets/js/treeviw/ui-bootstrap.tpls.js"></script>
    <script type="text/javascript" src="assets/js/treeviw/treeview.js"></script>


    <script type="text/javascript" src="assets/js/mult-select-plugin/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="assets/js/mult-select-plugin/jquery-picklist.js"></script>

    <script type="text/javascript" src="assets/js/datatables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="assets/js/datatables/media/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/highcharts/highcharts.src.js"></script>
    <script type="text/javascript" src="assets/js/highcharts/highcharts-more.js"></script>
    <script type="text/javascript" src="assets/js/highcharts/exporting.js"></script>
    <script type="text/javascript" src="assets/js/highcharts/bower_components/highcharts-ng/src/highcharts-ng.js"></script>

    <script type="text/javascript" src="assets/js/two-sided-discarded/js/multiselect.js"></script>
    <script type="text/javascript" src="assets/js/portal.js"></script>
    <script type="text/javascript" src="assets/js/charts.js"></script>
    <script type="text/javascript" src="assets/js/crossdomain/jquery.ajax-cross-origin.min.js"></script>
    <script src="assets/js/openlayermaps/ol.js"></script>
    <script src="assets/js/openlayermaps/angular-openlayers-directive.js"></script>
    <script type="text/javascript" src="app/portalApp.js"></script>

    <title> Analysis - Web Portal | HMIS </title>
    <style>
        .multiSelect {
            overflow: auto;
        }
        .multiSelect .select {
            margin-right: 20px;
            float: left;
        }
        .multiSelect .text {
            clear: both;
            font-size: 11px;
        }
        .multiSelect label::after {
            content: ":";
        }
        .btn.mover {
            display: block;
            /*margin-top: 25px;*/
            vertical-align: top;
        }
        .btn.mover.left {
            /*padding: 3px 8px 2px 6px;*/
        }
        .btn.mover.right {
            margin-top: 24px;
            padding: 3px 7px 2px;
        }
        .btn.mover i {
            margin: 0;
        }

        /* demo css */
        li {
            list-style-type: disc;
        }

    </style>
</head>

<body ng-app="portalApp">



<div class="page-wrapper" ng-controller="portalController">
<script type="text/javascript">
    $(document).ready(function() {
        $('#table').dataTable();
        $(".bootstrap-select").remove();
        // make code pretty
        window.prettyPrint && prettyPrint();

        if ( window.location.hash ) {
            scrollTo(window.location.hash);
        }
//
        $('.nav').on('click', 'a', function(e) {
            scrollTo($(this).attr('href'));
        });
//
        $('#multiselect').multiselect();
        $('#multiselect2').multiselect();
        $('.multiselect').multiselect();
        $('.js-multiselect').multiselect({
            right: '#js_multiselect_to_1_2',
            rightAll: '#js_right_All_1_2',
            rightSelected: '#js_right_Selected_1_2',
            leftSelected: '#js_left_Selected_1_2',
            leftAll: '#js_left_All_1_2'
        });
//
        $('#keepRenderingSort').multiselect({
            keepRenderingSort: false
        });
        $('#undo_redo').multiselect();
        $('#multi_d').multiselect({
            right: '.multi_d_to, .multi_d_to_2',
            rightSelected: '.multi_d_rightSelected, .multi_d_rightSelected_2',
            leftSelected: '.multi_d_leftSelected, .multi_d_leftSelected_2',
            rightAll: '.multi_d_rightAll, .multi_d_rightAll_2',
            leftAll: '.multi_d_leftAll, .multi_d_leftAll_2',

            moveToRight: function(Multiselect, options, event, silent, skipStack) {
                var button = $(event.currentTarget).attr('class');

                if (button == 'multi_d_rightSelected') {
                    var left_options = Multiselect.left.find('option:selected');
                    Multiselect.right.eq(0).append(left_options);

                    if ( typeof Multiselect.callbacks.sort == 'function' && !silent ) {
                        Multiselect.right.eq(0).find('option').sort(Multiselect.callbacks.sort).appendTo(Multiselect.right.eq(0));
                    }
                } else if (button == 'multi_d_rightAll') {
                    var left_options = Multiselect.left.find('option');
                    Multiselect.right.eq(0).append(left_options);

                    if ( typeof Multiselect.callbacks.sort == 'function' && !silent ) {
                        Multiselect.right.eq(0).find('option').sort(Multiselect.callbacks.sort).appendTo(Multiselect.right.eq(0));
                    }
                } else if (button == 'multi_d_rightSelected_2') {
                    var left_options = Multiselect.left.find('option:selected');
                    Multiselect.right.eq(1).append(left_options);

                    if ( typeof Multiselect.callbacks.sort == 'function' && !silent ) {
                        Multiselect.right.eq(1).find('option').sort(Multiselect.callbacks.sort).appendTo(Multiselect.right.eq(1));
                    }
                } else if (button == 'multi_d_rightAll_2') {
                    var left_options = Multiselect.left.find('option');
                    Multiselect.right.eq(1).append(left_options);

                    if ( typeof Multiselect.callbacks.sort == 'function' && !silent ) {
                        Multiselect.right.eq(1).eq(1).find('option').sort(Multiselect.callbacks.sort).appendTo(Multiselect.right.eq(1));
                    }
                }
            },

            moveToLeft: function(Multiselect, options, event, silent, skipStack) {
                var button = $(event.currentTarget).attr('class');

                if (button == 'multi_d_leftSelected') {
                    var right_options = Multiselect.right.eq(0).find('option:selected');
                    Multiselect.left.append(right_options);

                    if ( typeof Multiselect.callbacks.sort == 'function' && !silent ) {
                        Multiselect.left.find('option').sort(Multiselect.callbacks.sort).appendTo(Multiselect.left);
                    }
                } else if (button == 'multi_d_leftAll') {
                    var right_options = Multiselect.right.eq(0).find('option');
                    Multiselect.left.append(right_options);

                    if ( typeof Multiselect.callbacks.sort == 'function' && !silent ) {
                        Multiselect.left.find('option').sort(Multiselect.callbacks.sort).appendTo(Multiselect.left);
                    }
                } else if (button == 'multi_d_leftSelected_2') {
                    var right_options = Multiselect.right.eq(1).find('option:selected');
                    Multiselect.left.append(right_options);

                    if ( typeof Multiselect.callbacks.sort == 'function' && !silent ) {
                        Multiselect.left.find('option').sort(Multiselect.callbacks.sort).appendTo(Multiselect.left);
                    }
                } else if (button == 'multi_d_leftAll_2') {
                    var right_options = Multiselect.right.eq(1).find('option');
                    Multiselect.left.append(right_options);

                    if ( typeof Multiselect.callbacks.sort == 'function' && !silent ) {
                        Multiselect.left.find('option').sort(Multiselect.callbacks.sort).appendTo(Multiselect.left);
                    }
                }
            }
        });




        $("#advanced").pickList(
                {
                    sourceListLabel:	"Unadded",
                    targetListLabel:	"Added",
                    addAllLabel:		"Add All",
                    addLabel:			"Add",
                    removeAllLabel:		"Remove All",
                    removeLabel:		"Remove",
                    sortAttribute:		"value",
                    items:[]
                });

    });

    function scrollTo( id ) {
        if ( $(id).length ) {
            $('html,body').animate({scrollTop: $(id).offset().top - 40},'slow');
        }
    }
</script>
<div class="header header-standard">
    <div class="header-topbar">
        <div class="container">
            <div class="header-topbar-left">
                <ol class="breadcrumb">
                    <li><a href="#">Analysis</a></li>
                    <li><a href="#"></a></li>
                </ol>
            </div><!-- /.header-topbar-left -->

            <div class="header-topbar-right">
                <ul class="header-topbar-social ml30">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul><!-- /.header-topbar-social -->
            </div><!-- /.header-topbar-right -->
        </div><!-- /.container -->
    </div><!-- /.header-topbar -->

    <div class="container">
        <div class="header-inner">
            <div class="header-main">
                <div class="header-title">
                    <a href="index.html">
                        <img style="height:40px;" src="assets/img/flag.gif" alt="Tanzania Flag">

                        <span>HMIS - Web Portal </span>
                    </a>
                </div><!-- /.header-title -->

                <div class="header-navigation">
                    <div class="nav-main-wrapper">
                        <div class="nav-main-title visible-xs">
                            <a href="index.html">
                                <img src="assets/img/flag.gif" alt="Tanzania Flag">

                                <span> HMIS - Web Portal </span>
                            </a>
                        </div><!-- /.nav-main-title -->

                        <div class="nav-main-inner">
                            <nav>
                                <ul id="nav-main" class="nav nav-pills">

                                    <li class="important">
                                        <a href="index.html#">Home</a>
                                    </li>
                                    <li class="important">
                                        <a href="dashboard.html#">Dashboard</a>
                                    </li>
                                    <li class="important">
                                        <a href="analysis.html#">Analysis</a>
                                    </li>
                                    <!--<li class="important">-->
                                        <!--<a href="datacoverage.html#">Data Coverage</a>-->
                                    <!--</li>-->
                                </ul><!-- /.nav -->
                            </nav>
                        </div><!-- /.nav-main-inner -->
                    </div><!-- /.nav-main-wrapper -->

                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div><!-- /.header-navigation -->
            </div><!-- /.header-main -->
        </div><!-- /.header-inner -->
    </div><!-- /.container -->
</div><!-- /.header-->


<div class="main" ng-controller="analysisController">

    <div class="fullwidth background-grey  block center mb0">
        <div class="container">
            <div class="row" >

            </div>
            <br/>
            <div class="row">
                <div class="row">
                    <h1> HMIS - Web Portal Data Analysis</h1>
                    <a class="btn btn-xs pull-left " ng-click="toggleAnalysismenu()" title="{{message}}"><i class="glyphicon glyphicon-arrow-up" ng-if="arrowUp"></i><i class="glyphicon glyphicon-arrow-down" ng-if="arrowDown"></i></a>
                </div>
                <div class="row" ng-show="showForm">
                    <!--ng-if="showForm"-->
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <label style="padding:20px;font-size: 16px;font-weight: bolder;">Indicators</label>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label style="padding-bottom: 5px;border-bottom: 1px solid #ccc;">Available</label>
                                    <select name="from" id="keepRenderingSort" style="display: block !important;font-size: 12px;overflow: auto;" class="form-control" size="8" multiple="multiple">
                                        <option ng-repeat="indicator in listIndicators" value="{{indicator.id}}" data-position="1">{{indicator.name}}</option>
                                    </select>
                                </div>

                                <div class="col-xs-2">
                                    <button type="button" id="keepRenderingSort_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                                    <button type="button" id="keepRenderingSort_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                    <button type="button" id="keepRenderingSort_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                    <button type="button" id="keepRenderingSort_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                                </div>

                                <div class="col-xs-5">
                                    <label style="padding-bottom: 5px;border-bottom: 1px solid #ccc;">Selected</label>
                                    <select name="to" ng-model="selectedlistIndicators" id="keepRenderingSort_to" style="display: block !important;font-size: 12px;overflow: auto;" class="form-control" size="8" multiple="multiple">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <label style="padding:20px;font-size: 16px;font-weight: bolder;">Organisation Unit</label>
                            <div style="overflow: auto;height: 150px">
                                <div tree-view="listOrganisationUnits" node-label="name" ></div>
                            </div>

                        </div>
                        <div class="col-md-4 col-xs-12">
                            <label style="padding:20px;font-size: 16px;font-weight: bolder;">Period</label>
                            <multiple-select itemlist="listperiods" ItemsSelected="" collection="periods"></multiple-select>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left" style="margin-top: 10px;">
                            <button type="button" class="btn" ng-click="getReport('table','')">Table</button>
                            <button type="button" class="btn" ng-click="getReport('chart','column')">Column</button>
                            <button type="button" class="btn" ng-click="getReport('chart','line')">Line</button>
                            <button type="button" class="btn" ng-click="getReport('chart','area')">Area</button>
                            <button type="button" class="btn" ng-click="getReport('chart','spline')">Spline</button>
                            <button type="button" class="btn" ng-click="getReport('chart','areaspline')">Spline Area</button>
                            <button type="button" class="btn" ng-click="getReport('chart','pie')">Pie</button>
                            <button type="button" class="btn" ng-click="getReport('spider','spider')">Spider</button>
                            <button type="button" class="btn" ng-click="getReport('chart','map')">Map</button>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12" style="margin-top: 10px;">
                            <highchart id="chart1" class="row" ng-show="chart" config="chartConfig"  ></highchart>
                            <analysis-charts class="row" ng-show="chart" data="dataForDisplayingTable"></analysis-charts>
                            <analysis-charts class="row" ng-show="spider" data="dataForDisplayingTable"></analysis-charts>
                            <analysis-table class="row" ng-show="table" data="dataForDisplayingTable" load="loading" title="titles" periods="selectedlistPeriods" header="selectedlistIndicators"></analysis-table>
                            <analysis-map class="row" ng-show="map" data-object="jsonObject" ></analysis-map>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->
    </div>
</div><!-- /.main -->

<div id="footer" class="footer footer-simple">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-inner">
                <div class="row">
                    <div class="widget col-sm-3">

                    </div>

                    <div class="widget col-sm-3">
                        <h2></h2>

                        <nav>
                            <ul class="nav nav-stacked">
                            </ul>
                        </nav>
                    </div>

                    <div class="widget col-sm-3">
                        <h2></h2>

                        <nav>
                            <ul class="nav nav-stacked">
                            </ul>
                        </nav>
                    </div>

                    <div class="widget col-sm-3">
                        <h2></h2>

                        <nav>
                            <ul class="nav nav-stacked">
                            </ul>
                        </nav>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.footer-top-inner -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="footer-bottom-left">
                    &copy; 2015 HMIS.
                </div><!-- /.footer-bottom-left -->

                <div class="footer-bottom-right">
                    Created by <a href="www.hisptanzania.or.tz">HISP Tanzania</a>
                </div><!-- /.footer-bottom-right -->
            </div><!-- /.footer-bottom-inner -->
        </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
</div><!-- /.footer -->
</div><!-- /.page-wrapper-->

</body>
</html>
