body, header, h1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", "Sans-Serif";
    line-height: 1.3;
}

header {
    padding: 5px 10px 6px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #e4e4e4;
}

h1, h2, h3 {
    color: #2D3B47;
    font-weight: 700;
    font-family: "Lato";
}

h1 {
    font-weight: 400;
    font-size: 30px;
}

p {
    color: #616A72;
}

menu {
    padding-left: 8px;
}

section {
    padding: 0 8px;
}

ul {
    list-style-type: none;
}