<style>
    .option_btn{
        font-weight: bolder;
        width: 32px!important;
        text-align: center;
    }
    ul#middle_sect{
        position: relative;
        margin-top: 20px;
    }
    ul#middle_sect li{list-style: none;}
    .mult_select_plugin{
        background-color: #FFFFF1;
        padding: 10px;
        width: 40%;
        border-radius: 3px;
    }
    label.super_lable{
        font-weight: bolder;font-size: 16px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }
</style>
<div class="mult_select_plugin col-md-12">
    <div class="col-md-2">
        <label class="super_lable" >Available {{collection}}</label>
        <select id="available_selection" ng-change="availableAction()"
                ng-model="myOptionAvailable" class="btn-group bootstrap-select show-tick form-control" multiple name="available[]" style="display: block !important;height:200px;overflow: auto;font-size: 14px;">
            <option ng-repeat="item in Items" value="{{item.id}}">{{item.name}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <ul id="middle_sect" >
            <li><a class="btn option_btn" id="single_select">&nbsp;></a></li>
            <li><a class="btn option_btn" id="mult_select">>></a></li>
            <li><a class="btn option_btn" id="single_return">&nbsp;<</a></li>
            <li><a class="btn option_btn" id="mult_return"><<</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <label class="super_lable" >Selected {{collection}}</label>
        <select id="selected_selection" ng-change="selectedAction()"
                ng-model="myOptionSelected" class="btn-group bootstrap-select show-tick form-control" multiple name="available[]" style="display: block !important;height:200px;overflow: auto;font-size: 14px;">
            <option ng-repeat="item in Selects" value="{{item.id}}">{{item.name}}</option>
        </select>
    </div>
</div>